nav{

    display: block;
    background-color: blue;
    box-sizing: border-box;
    height: 45px;
    padding: 15px;
}
nav ul{
    display: block;
    position: relative;
    background-color: inherit;
    box-sizing:border-box;
}
nav ul li{

        display: block;
        float: left;
        border:1px solid lime;
        box-sizing: border-box;
        margin-left: 15px;
        list-style:none;
}
nav ul li a{
    display: block;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;

}
nav ul li a:hover {
    background-color:#005eff;
}
nav ul li ul{
    display:none;
    position: absolute;
    top:20px;
    left: 180px;
    width: 130px;
    height: 400px;
    background-color: blue;
    /*border: 1px solid black;*/
 
  
}
nav ul li ul li{
    margin-top: 10px;
    margin-left:5px;
    list-style-type:none;
}
nav ul li:hover ul{
    display: block;
}


