section.main-02{
    background-color:blueviolet;
    clear:both;
   
}
section.main-02 div#div01{
    display:block;
    float:left;
    width: 400px;
    padding:10px;
    border-style:dotted;
    background-color: brown;
}
section.main-02 div#div01 p{
    text-align:center;
}
section.main-02 div#div02{
    display:block;
    float:left;
    width: 400px;
    padding:10px;
    border-style: dashed;
    background-color: rgb(42, 132, 165);
}
section.main-02 div#div02 p{

    text-align:center;
}
section.main-02 div#div03{
    display:block;
    width: 400px;
    float:left;
    padding:10px;
    border-style: groove;
    background-color: rgb(106, 165, 42);
}
section.main-02 div#div03 p{

    text-align:center;
}
section.main-02 p{

    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size:15px;
    color:black;
    line-height:2;
    text-transform:capitalize;
    letter-spacing:2pt;
    word-spacing:2pt;
    text-align:justify;
    text-indent:15pt;
    clear:both;
   /* text-transform:lowercase;
    text-transform:uppercase;*/
    white-space: wrap;
}
/*
@font-face{

    font-family:;
    src:url("");
}*/