.estilo-div01{
    position:absolute;
    display:block;
    box-sizing:border-box;
    top:10px;
    left: 6px;
    background-color: chartreuse;
    border:1px solid lawngreen;
    width: 500px;
    z-index:10;
}

div.estilo-div02{
    position:relative;
    display:block;
    height: 500px;
    box-sizing:border-box;
    background-color:red;
    border:1px solid red;
    width: 500px;
}
div.estilo-div02 p{
    display:block;
    position:absolute;
    top:40px;
    left:35px;
    color:rgb(43, 156, 226);

}
.estilo-div03{
    position:relative;
    top:18px;
    display:block;
    box-sizing: border-box;
    background-color:yellow;
    border:1px solid yellow;
    width: 400px;
}
.estilo-div04{
    position:absolute;
    display:block;
    box-sizing:border-box;
    background-color:cyan;
    border:1px solid l
    awngreen;
    width: 500px;
    height: 500px;
    top:0;
    z-index:1;
}